{% extends 'base.html' %}
{% load static %}
{% block title %}
Portal
{% endblock title %}
{% block content %}

<div class="mt-6">

    <div class="pt-lg-13 pb-lg-14 py-8 bg-dark">
        <div class="container">
            <div class="row">
                <div class="offset-lg-2 col-lg-8 col-md-12 col-12">
                    <div class="text-center mb-12">
                        <h2 class="text-white mb-3 h1">
                            Welcome, {{user.profile.fname}}.
                        </h2>
                        <p class="lead mb-5">
                            These in depth analysis of the geographical information from the satellite imagery can help
                            us analyze the different indepth factors and mitigate any critical situations which would
                            greatly aid in our efforts to take immediate actions to sustain our planet. This analysis
                            has
                            been done for a particular location considering the time-constraints of the event however we
                            can analyze with available satellite datasets for any location and wide variety of
                            sustainable constriants. Our plan is to analyze, predict and suggest possible responses.
                            And due to the limited time, we couldn't directly include our findings here. But it can be
                            checked out on Google colab or GitHub repo.
                        </p>
                        <a href="https://colab.research.google.com/github/shekhar-git-hub/Project-Space-Watch/blob/main/analyzing_visualizing_large_scale_satellite_imagery.ipynb"
                            class="btn btn-info btn-lg mr-1">Google Colab</a>
                        <a href="https://colab.research.google.com/github/shekhar-git-hub/Project-Space-Watch/blob/main/analyzing_visualizing_large_scale_satellite_imagery.ipynb"
                            class="btn btn-info btn-lg">GitHub Repo</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-lg-n14 mt-n10 pb-lg-6">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="mb-4 mb-lg-0">
                    <a href="https://github.com/awebisam/team_planet_nasa2020"><img src="{% static 'img/src.png' %}"
                            alt="" class="img-fluid w-100 border-top border-primary border-top-4 rounded-top"></a>
                    <div class="border-top-0 border rounded-bottom bg-white">
                        <div class="p-4">
                            <h4>Source code</h4>
                            <p>
                                This site has been built with HTML, CSS, JS, Django and SQLite3.
                            </p>
                            <a href="https://github.com/awebisam/team_planet_nasa2020" class="btn-primary-link">GitHub
                                Repo</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="mb-4 mb-lg-0">
                    <a href="{% url 'core:team' %}"><img src="{% static 'img/team.png' %}" alt=""
                            class="img-fluid w-100 border-top border-primary border-top-4 rounded-top"></a>
                    <div class="border-top-0 border rounded-bottom bg-white">
                        <div class="p-4">
                            <h4>Our Team</h4>
                            <p>
                                We are an awesome and hardworking team of 5 people from various expertise.
                            </p>
                            <a href="{% url 'core:team' %}" class="btn-primary-link">Our Team</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 d-md-none d-lg-block">
                <div class="mb-4 mb-lg-0">
                    <a href="{% url 'core:contact' %}"><img src="{% static 'img/feedback.png' %}" alt=""
                            class="img-fluid w-100 border-top border-primary border-top-4 rounded-top"></a>
                    <div class="border-top-0 border rounded-bottom bg-white">
                        <div class="p-4">
                            <h4>Have Your Say</h4>
                            <p>
                                We believe that perfection is a myth. We need your suggestions.
                            </p>
                            <a href="{% url 'core:contact' %}" class="btn-primary-link">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</div>

{% endblock %}