{% load static %}
{% if request.path != '/' %}
<div class="footer pt-11 pb-3 bg-dark text-base">
    {% else %}
    <div class="footer pt-11 pb-3 text-base"
        style="background: url({% static 'img/earth.jpg' %}); background-size: cover; background-repeat: no-repeat; background-position: center; background-attachment: fixed">
        {% endif %}
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-12" style="background:rgba(0, 0, 0, 0.85)">
                    <div class="mb-4">
                        <h4 class="mb-4 text-white">Subscribe to our newsletter</h4>
                        <div>
                            <p class="text-light">Subscribe to get notified about our project.</p>
                            <form action="{% url 'core:newsletter' %}" method="POST">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <input type="email" name='email' class="form-control border-white"
                                        placeholder="Email Address" required="">
                                </div>
                                <button type="submit" class="btn btn-primary">Subscribe</button>
                            </form>

                        </div>
                    </div>
                </div>
                <ul style="text-align:center;" class="list-inline align-center text-white">
                    <li class="list-inline-item"><b>© 2020 Team Planet.</b></li>
                </ul>
            </div>
        </div>
    </div>