<!DOCTYPE html>
{% load static %}
<!-- Team Planet NASA Spaceapps challenge 2020 -->
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Planet | {% block title %}{% endblock title %} {% block head_title %}
        {% endblock head_title %} </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
</head>

<body>
    {% include 'addons/navbar.html' %}
    <div class="main mb-20">

        {% block content %}
        {% endblock content %}

    </div>
    {% include 'addons/footer.html' %}
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/fontawesome.min.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
</body>

</html>